{% extends "base/base.html" %}
{% load staticfiles %}

{% block titulo %}
	<title>Contratación</title>
{% endblock titulo %}

{% block contenido %}
	<table class="table table-hover table-responsive">
	  <thead>
	    <tr class="">
	      <th>#</th>
	      <th>Nombre</th>
	      <th>Correo</th>
	      <th>Cargo</th>
	      <th>Tarjeta de Credito</th>
	      <th>Contrato</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for obj in contacts %}
	  		<tr>
		      <td><a href="{% url 'detalle_u' obj.user.id %}">{{ obj.user.id }}</a></td>
		      <th>{{ obj.user.username }}</th>
		      <td>{{ obj.user.email }}</td>
		      <td>{{ obj.perfil.nombre_perfil }}</td>
		      <td>{{ obj.tarjetaCredito }}</td>
		      <td><a href="{% url 'contratar' obj.user.id %}"><span class="badge badge-primary">Contratar</span></a></td>
		    </tr>
	  	{% endfor %}
	  </tbody>
	</table>
	<a class="btn btn-primary" href="{% url 'crearUsuario_u' %}" role="button">Nuevo Usuario</a>
{% endblock contenido %}