{% extends "empresa/panel.html" %}
{% load staticfiles %}
{% load humanize %}

{% block titulo %}
	<title>Productos</title>
{% endblock titulo %}


{% block contenidocentral %}
	<a href="#" id="js_up" class="boton-subir">
	<!-- link del icono http://fontawesome.io/icon/rocket/ -->

	<i class="fas fa-arrow-circle-up" aria-hidden="true"></i>
	</a>
	<style media="screen">
	/*botón up*/
	.boton-subir{
	display: none;
		background: #0275D8;
	border: thin solid #fff;
	border-radius: 3px;
	position: fixed;
	right: 15px;
	bottom:2px;
	z-index: 999999999;
	}
	/*evento hover*/
	.boton-subir:hover{
	box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
	}
	/*estilos para el tag i*/
	.boton-subir i{
	color: #fff;
	font-size: 1.5em;
	padding: 10px 10px 10px 7px;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
	}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/a18b0c2e94.js"></script>
	<!-- script para que funcione al 100% el botón ir arriba -->
	<script>
	//invocamos al objeto (window) y a su método (scroll), solo se ejecutara si el usuario hace scroll en la página
	$(window).scroll(function(){
	  if($(this).scrollTop() > 300){ //condición a cumplirse cuando el usuario aya bajado 301px a más.
	    $("#js_up").slideDown(300); //se muestra el botón en 300 mili segundos
	  }else{ // si no
	    $("#js_up").slideUp(300); //se oculta el botón en 300 mili segundos
	  }
	});

	//creamos una función accediendo a la etiqueta i en su evento click
	$("#js_up i").on('click', function (e) {
	  e.preventDefault(); //evita que se ejecute el tag ancla (<a href="#">valor</a>).
	  $("body,html").animate({ // aplicamos la función animate a los tags body y html
	    scrollTop: 0 //al colocar el valor 0 a scrollTop me volverá a la parte inicial de la página
	  },700); //el valor 700 indica que lo ara en 700 mili segundos
	  return false; //rompe el bucle
	});
	</script>
	<div class="col-12">
		<div class="row" style="padding-left: 5%;">
			{% if messages %}
				<div class="col-12">
					<ul class="messages">
					    {% for message in messages %}
					    <div class="alert alert-success alert-dismissible fade show" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						  <strong>{% if message.tags %}{% endif %}{{ message }}.</strong>
						</div>
					    <li</li>
					    {% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="col-12">
				<form class="form-inline my-2 my-lg-0" method="GET" action="">
			      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="q" value="{{ request.GET.q }}">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			      <a class="btn btn-success" style="padding-left: 1%;margin-left: 1%;color: white;" href="{% url 'crear_p' %}"><i class="fas fa-user-plus"></i> Crear Nuevo producto</a>
			    </form>
			</div>
			{% if object_list %}
				<div class="col-12">
					<div class="row">
						<table class="table table-hover" style="margin-top: 1%;">
							<thead>
								<tr>
									<th>Código</th>
									<th>Nombre Producto</th>
									<th>Detalle</th>
									<th>Precio</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>
								{% for obj in object_list %}
									<tr>
										<th scope="row">{{ obj.id }}</th>
										<td>{{ obj.titulo }}</td>
										<td>{{ obj.contenido|truncatechars:50|safe }}</td>
										<td>$ {{ obj.precio|intcomma }}</td>
										<td><a class="btn btn-danger" href="{% url 'delete' obj.id %}" data-target="#mensajesModal">Eliminar</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<h2>No hay productos disponibles</h2>
			{% endif %}
		</div>
		<div class="col-12">
			<div class="row justify-content-center">
				<div class="col-auto pagination">
				    <span class="step-links">
				        {% if object_list.has_previous %}
				            <a class="btn btn-outline-primary" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; Primero</a>
				            <a class="btn btn-outline-primary" href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
				        {% endif %}

				        <span class="current lead">
				            Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}
				        </span>

				        {% if object_list.has_next %}
				            <a class="btn btn-outline-primary" href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
				            <a class="btn btn-outline-primary" href="?page={{ object_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Ultimo &raquo;</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>
	</div>

{% endblock contenidocentral %}