{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="{% static 'img/fastinventory.ico' %}" />
	{% block titulo %}
		<title>Titulo Base</title>
	{% endblock titulo %}
	
	{% block bootstrap %}
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	{% endblock bootstrap %}

	{% block personalizado %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
	{% endblock personalizado %}


</head>

	

<body>

	{% block menu %}
		<header>
			{% include "base/menu.html" %}
		</header>
	{% endblock menu %}
	
	<div style="width: 100%;">		
		{% block pagina %}
		
			<div class="row" style="margin-top: 70px;margin-left: 0;width: 100%;">
				<div class="col-12 col-md-8">
					{% block contenido %}
						<p>Contenido base</p>
					{% endblock contenido %}
				</div>
				<div class="col-12 col-md-4">
					{% block aside %}
						<h3>Ultimos posts publicados</h3>
						<ul>
							<li>hola</li>
							<li>hola</li>
							<li>hola</li>
						</ul>
					{% endblock aside %}
				</div>
			</div>



			{% block facebookComments %}
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				</script>
			{% endblock facebookComments %}

			{% block facebookLike %}
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
			{% endblock facebookLike %}
		{% endblock pagina %}
	</div>

	{% block piedepagina %}
		{% include "base/footer.html" %}
	{% endblock piedepagina %}


	{% block particulas %}
		javascript
	{% endblock particulas %}

</body>
</html>