{% extends "base/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block titulo %}
	<title>Carrito</title>
{% endblock titulo %}

{% block personalizado %}
	<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
	<script src="{% static 'js/carrito.js' %}"></script>
{% endblock personalizado %}

{% block contenidomain %}
	{% if producto %}
		<div class="row container" style="margin-bottom: 12%;">
			<div class="col-9 card" style="margin-bottom: 1%;">
				<table class="table table-hover shopping-cart-wrap">
					<thead class="text-muted">
					<tr>
					  <th scope="col">Producto</th>
					  <th scope="col" width="120">Cantidad</th>
					  <th scope="col" width="120">Precio</th>
					  <th scope="col" width="200" class="text-right">Acccion</th>
					</tr>
					</thead>
					<tbody>
						{% for obj,canti,tot in producto %}			  
								<tr>
									<td>
										<figure class="media">
											<div class="img-wrap"><img src="{{ obj.imagen1.url }}" class="rounded float-left img-sm" style="width: 90px;max-height: 75px;object-fit: cover;"></div>
											<figcaption class="media-body" style="padding-left: 1%;">
												<h6 class="title text-truncate"><a href="{% url 'detalle_prod' obj.slug %}">{{ obj.titulo }}</a></h6>
												<dl class="param param-inline small">
												  <dt>Size: </dt>
												  <dd>XXL</dd>
												</dl>
												<dl class="param param-inline small">
												  <dt>Referencia: {{ obj.id }}</dt>
												  <dd>Orange color</dd>
												</dl>
											</figcaption>
										</figure> 
									</td>
									<td> 
										<h6><i>{{ canti }}</i></h6>
									</td>
									<td> 
										<div class="price-wrap"> 
											<var class="price">${{ tot|intcomma }}</var> 
											<small class="text-muted">(${{ obj.precio|intcomma }} c/u)</small> 
										</div> <!-- price-wrap .// -->
									</td>
									<td class="text-right"> 
										<a title="Guardar en mis deseos" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> 
											<i class="fa fa-heart"></i>
										</a> 
										<a href="{% url 'del_carrito' obj.id %}" class="btn btn-outline-danger"> × Remover</a>
									</td>
								</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-3">
				<div class="row justify-content-start">
					<div class="col-12" style="box-shadow:0px 4px 3px rgba(0,0,0,.1);">
						<form method="post" action="{% url 'generar_factura' %}">
							{% csrf_token %}
							<div class="form-group">
								<label for="exampleSelect1">Codigo del Pais</label>
								<select name="codpai" id="opciones" class="form-control" required>
									<option value="57">Colombia</option>
									<option value="34">España</option>
									<option value="1">Estados unidos</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleSelect1">Tipo de la venta</label>
								<select name="vent" id="opciones" class="form-control" required>
									<option value="2">Virtual</option>
									<option value="1">Física</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:15%;display: block;">Pagar</button>
							<small class="text-muted">Para finalizar su compra porfavor realize la consignación a la siguiente cuenta (1231269871) con el total de su factura, luego porfavor adjunte una foto de la factura para que esta sea validada.</small>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="col-5">
			<img class="img-fluid" src="{% static 'img/endcar.jpg' %}" width="35%">
		</div>
		{% if request.session.factura == 'generada' %}
				<div class="col-12" style="margin-top: 5%;">				
					<ul class="messages">
					    <div class="alert alert-success alert-dismissible fade show" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						  <strong>Felicitaciones factura generada con exito. Gracias por utilizar nuestros servicios</strong>
						</div>
					    <li</li>
					</ul>
				</div>
		{% endif %}
	{% endif %}
{% endblock contenidomain %}
