{% extends "empresa/panel.html" %}
{% load staticfiles %}

{% block contenidocentral %}
	<table class="table table-hover table-responsive">
	  <thead>
	    <tr class="">
	      <th>#</th>
	      <th>Pais de envio</th>
	      <th>Nombre de usuario</th>
	      <th>Estado de la compra</th>
	      <th>Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for obj in contacts %}
	  		<tr>
		      <td>{{ obj.id }}</td>
		      <td>{{ obj.paisEnvio }}</td>
		      <td>
		      	{{ obj.user }}
		      </td>
		      <td>{{ obj.estado_proceso }}</td>
		      <td><a href="#"><span class="badge badge-success">Adjuntar factura</span></a></td>
		    </tr>
	  	{% endfor %}
	  </tbody>
	</table>
	<div class="row justify-content-center">
	<div class="col-auto pagination">
	    <span class="step-links">
	        {% if contacts.has_previous %}
	            <a class="btn btn-outline-primary" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; Primero</a>
	            <a class="btn btn-outline-primary" href="?page={{ contacts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
	        {% endif %}

	        <span class="current lead">
	            Pagina {{ contacts.number }} de {{ contacts.paginator.num_pages }}
	        </span>

	        {% if contacts.has_next %}
	            <a class="btn btn-outline-primary" href="?page={{ contacts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
	            <a class="btn btn-outline-primary" href="?page={{ contacts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Ultimo &raquo;</a>
	        {% endif %}
	    </span>
	</div>
</div>
{% endblock contenidocentral %}