{% extends "base/base.html" %}

{% block titulo %}
	<title>Productos</title>
{% endblock titulo %}

{% block contenido %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong>{% if message.tags %}{% endif %}{{ message }}.</strong>
		</div>
	    <li</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<div class="row">
		{% if object_list %}
			{% for obj in object_list %}
				<div class="col-12 col-sm-6 col-md-4 card">
					<div class="card-block">
						<img class="card-img-top" src="{{ obj.imagen1.url }}" width="150" alt="Card image cap">
					</div>
					<div class="card-block">
						<p class="card-text"><a href="{% url 'detalle_prod' obj.slug %}">{{ obj.titulo }}</a></p>
						<p>${{ obj.precio }}</p>
						<hr>
						<p>
							 <b>{{ obj.contenido|truncatechars:50 }}</b>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>No hay productos disponibles</h2>
		{% endif %}
	</div>
{% endblock %}
