{% extends "base/base.html" %}

{% block titulo %}
	<title>Quienes somos</title>
{% endblock titulo %}

{% block contenido %}
	<h2>Quienes somos</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed leo sed nisl posuere eleifend sed a diam. Cras vestibulum facilisis tellus at rutrum. Proin sit amet dui laoreet, volutpat diam sit amet, consequat mauris. Sed quis sem porta, convallis ante at, rutrum purus. Integer suscipit, quam vel venenatis aliquam, nibh purus eleifend ligula, et porttitor urna lacus ut turpis. Integer consectetur enim quis semper fringilla. Mauris lorem felis, fringilla ac odio sit amet, eleifend lobortis lectus. Phasellus vitae porta eros.</p>
	<h2>Nuestro Objetivo</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed leo sed nisl posuere eleifend sed a diam. Cras vestibulum facilisis tellus at rutrum. Proin sit amet dui laoreet, volutpat diam sit amet, consequat mauris. Sed quis sem porta, convallis ante at, rutrum purus. Integer suscipit, quam vel venenatis aliquam, nibh purus eleifend ligula, et porttitor urna lacus ut turpis. Integer consectetur enim quis semper fringilla. Mauris lorem felis, fringilla ac odio sit amet, eleifend lobortis lectus. Phasellus vitae porta eros.</p>

	<h2>Misión</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed leo sed nisl posuere eleifend sed a diam. Cras vestibulum facilisis tellus at rutrum. Proin sit amet dui laoreet, volutpat diam sit amet, consequat mauris. Sed quis sem porta, convallis ante at, rutrum purus. Integer suscipit, quam vel venenatis aliquam, nibh purus eleifend ligula, et porttitor urna lacus ut turpis. Integer consectetur enim quis semper fringilla. Mauris lorem felis, fringilla ac odio sit amet, eleifend lobortis lectus. Phasellus vitae porta eros.</p>
	<h2>Vision</h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed leo sed nisl posuere eleifend sed a diam. Cras vestibulum facilisis tellus at rutrum. Proin sit amet dui laoreet, volutpat diam sit amet, consequat mauris. Sed quis sem porta, convallis ante at, rutrum purus. Integer suscipit, quam vel venenatis aliquam, nibh purus eleifend ligula, et porttitor urna lacus ut turpis. Integer consectetur enim quis semper fringilla. Mauris lorem felis, fringilla ac odio sit amet, eleifend lobortis lectus. Phasellus vitae porta eros.</p>

{% endblock contenido %}