
{% extends "base/base.html"%}
{% load staticfiles %}

{% block titulo %}
	<title>Publicaciones</title>
{% endblock titulo %}


{% block contenido %}

		<div class="contenedor" style="margin-left: 1%;">
			
			<div class="row justify-content-start" style="margin-bottom: 20px;">
				<div class="col-auto">
					<form class="form-inline my-2 my-lg-0" method="GET" action="">
				      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="q" value="{{ request.GET.q}}">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				    </form>
				</div>
			</div>

			<div class="row">
				<div class="card-group">
					{% for obj in contacts %}
						<div class="col-12 col-md-4 col-lg-5 card" style="width: 35rem;">
						  <img class="card-img-top img-fluid img-responsive" src="{{ obj.imagen.url }}" alt="Card image cap" style="height: 200px;">
						  <div class="card-block">
						    <h4 class="card-title">{{ obj.titulo }}</h4>
						    <p class="card-text"><small><i><strong>Autor: </strong> {{ obj.user }}</i></small></p>					    
						  </div>
						  <div class="card-footer">
						    	<a href="{% url 'detail_p' obj.slug %}" class="btn btn-primary" style="width: 100%;">Continuar leyendo</a>
						    	<small class="text-muted"><i><strong>Categoria: </strong> {{ obj.categoria }}</i></small>
	    				  </div>
						</div>
					{% endfor %}
					<div class="col-12 col-md-4 col-lg-5 card">    				  	
	    				  <div class="row justify-content-center align-items-center" style="height: 100%;">
							<div class="col-4"><img class="img-fluid" src="{% static 'img/post.png' %}"></img></div>
	    				  </div>
    				</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-auto pagination">
				    <span class="step-links">
				        {% if contacts.has_previous %}
				            <a class="btn btn-outline-primary" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; Primero</a>
				            <a class="btn btn-outline-primary" href="?page={{ contacts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
				        {% endif %}

				        <span class="current lead">
				            Pagina {{ contacts.number }} de {{ contacts.paginator.num_pages }}
				        </span>

				        {% if contacts.has_next %}
				            <a class="btn btn-outline-primary" href="?page={{ contacts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
				            <a class="btn btn-outline-primary" href="?page={{ contacts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Ultimo &raquo;</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>

	

{% endblock contenido %}
	
	